<ion-scroll scrollY="true">
  <ion-list scrollY="true">
    <ion-item>

      <ion-searchbar
        [(ngModel)]="filterProvider.partOfName"
        (ionInput)="selectParticipantSearch()"
        (ionCancel)="cancelFilterName()"
        placeholder="{{filterProvider.findName}}">
      </ion-searchbar>


    </ion-item>




    <ion-item text-wrap>
      <i class="fa fa-university fa-2x"></i>
      {{filterProvider.mapTitle}}

      <button ion-button (click)="cancelFilterMap()" item-right color="army-red">
        <ion-icon name="close"></ion-icon>
      </button>
      <button ion-button (click)="filterMap()" item-right color="army-red">
        <ion-icon name="list"></ion-icon>
      </button>

    </ion-item>
    <ion-item *ngIf="filterProvider.mapField && (filterProvider.mapField!='')">
      <ion-label text-wrap>{{filterProvider.mapField}}</ion-label>

    </ion-item>

    <ion-item text-wrap *ngIf="filterProvider.mapField && (filterProvider.mapField!='')">
      <i class="fa fa-map-marker fa-2x"></i>
      {{filterProvider.placeTitle}}

      <button ion-button (click)="cancelFilterPlace()" item-right color="army-red">
        <ion-icon name="close"></ion-icon>
      </button>
      <button ion-button (click)="filterPlace()" item-right color="army-red">
        <ion-icon name="list"></ion-icon>
      </button>

    </ion-item>

    <ion-item *ngIf="filterProvider.placeField && (filterProvider.placeField!='')">

      <ion-label text-wrap>{{filterProvider.placeField}}</ion-label>

    </ion-item>




  </ion-list>
</ion-scroll>
