<ion-header>
  <ion-navbar>
    <ion-title text-left>{{titleStr}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-card-header text-wrap>
      <p>{{conferenceSingle.name}}</p>
    </ion-card-header>
    <ion-card-content>
      <p><ion-icon name="calendar" color="danger"></ion-icon>
        <b color="primary">{{conferenceSingle.date_event}} </b>
      </p>
      <p><ion-icon name="timer" color="danger"></ion-icon>
        <b color="primary">{{conferenceSingle.time_beg}} : {{conferenceSingle.time_end}}</b>
      </p>
      <p *ngIf="!conferenceSingle.place_name_place"><ion-icon name="pin" color="danger"></ion-icon>
        {{conferenceSingle.place_name}}</p>
      <p *ngIf="conferenceSingle.place_name_place"><ion-icon name="pin" color="danger"></ion-icon>
        {{conferenceSingle.place_name_place}}</p>
      <p><ion-icon name="microphone" color="danger"></ion-icon>
        {{conferenceSingle.format}}</p>

      <p><ion-icon name="call" color="danger"></ion-icon>
        {{conferenceSingle.contact}}</p>
    </ion-card-content>

    <ion-list>
      <ion-list-header color="danger">
        {{thematicStr}}
      </ion-list-header>
      <ion-item *ngFor="let thematicItem of thematic" text-wrap>
        <ion-icon name="information-circle" item-left></ion-icon>
        <h4 *ngIf="lang=='ru'">{{thematicItem.name_rus}}</h4>
        <h4 *ngIf="lang=='en'">{{thematicItem.name_eng}}</h4>
      </ion-item>
    </ion-list>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-left (click)="this.showLeafLetMap(conferenceSingle,'conferenceDetail')">
          <ion-icon name='map' ></ion-icon>
          {{onMapStr}}
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear small color="danger" icon-left>
          <ion-icon item-left *ngIf="myForum" name="star" color="danger" (click)="deleteFromMyForum(myForum)"></ion-icon>
          <ion-icon item-left *ngIf="!myForum" name="star-outline" (click)="addToMyForumSite(conferenceSingle.id)"></ion-icon>
          {{myForumStr}}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
