<ion-header>
  <ion-navbar>
    <ion-title text-left>{{titleStr}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-card-header text-wrap>
      <p>{{element.name}}</p>
    </ion-card-header>
    <ion-card-content>
      <p><ion-icon name="calendar" color="danger"></ion-icon>
        <b color="primary">{{element.date_event}} </b>
      </p>
      <p><ion-icon name="timer" color="danger"></ion-icon>
        <b color="primary">{{element.time_beg}} : {{element.time_end}}</b>
      </p>
      <p *ngIf="!element.place_name_place"><ion-icon name="pin" color="danger"></ion-icon>
        {{element.place_name}}</p>
      <p *ngIf="element.place_name_place"><ion-icon name="pin" color="danger"></ion-icon>
        {{element.place_name_place}}</p>
      <p><ion-icon name="microphone" color="danger"></ion-icon>
        {{element.format}}</p>

      <p><ion-icon name="call" color="danger"></ion-icon>
        {{element.contact}}</p>
    </ion-card-content>

    <ion-list>
      <ion-list-header color="danger">
        {{thematicStr}}
      </ion-list-header>
      <ion-item *ngFor="let thematicItem of thematic" text-wrap>
        <ion-icon name="information-circle" item-left></ion-icon>
        <h4 *ngIf="lang=='ru'">{{thematicItem.name_rus}}</h4>
        <h4 *ngIf="lang=='en'">{{thematicItem.name_eng}}</h4>
      </ion-item>
    </ion-list>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-left (click)="this.showLeafLetMap(element,'conferenceDetail')">
          <ion-icon name='map' ></ion-icon>
          {{onMapStr}}
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear small color="danger" icon-left (click)="changeMyForum(element)">
          <ion-icon item-left *ngIf="element.my_forum_id" name="star" color="danger"> </ion-icon>
          <ion-icon item-left *ngIf="!element.my_forum_id" name="star-outline" ></ion-icon>
          {{myForumStr}}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
