<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Участники</ion-title>
<!--    <ion-buttons end>
      <button ion-button icon-only on (click)="deleteParticipantAll()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
      <button ion-button icon-only on (click)="getParticipantApi()">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addItemParticipant()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar
      [(ngModel)]="partOfName"
      (ionInput)="selectParticipantSearch()"
      placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>

    <ion-item-sliding *ngFor="let conferenceSingle of participants" #slidingItem>

      <button ion-item (click)="goToParticipantDetail(conferenceSingle)">
        <ion-icon item-left *ngIf="conferenceSingle.my_forum_id" name="star" color="danger"></ion-icon>
        <ion-icon item-left *ngIf="!conferenceSingle.my_forum_id" name="star-outline"></ion-icon>

        <p>{{conferenceSingle.name_rus}}</p>
        <p><ion-icon name="pin"></ion-icon>Стенд: {{conferenceSingle.place_name}}<p>

      </button>


      <ion-item-options>
        <button ion-button color="danger" *ngIf="!conferenceSingle.my_forum_id" (click)="addToMyForumSite(conferenceSingle.id)">
          В "Мой форум"
        </button>
        <button ion-button color="favorite" *ngIf="conferenceSingle.my_forum_id"
                (click)="deleteFromMyForum(conferenceSingle.my_forum_id)">
          Удалить из "Мой форум"
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>

