<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Центр военно-тактических игр
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="cards-bg">

    <ion-card>


        <img src="assets/img/park-patriot/war-tactic.png"/>
        <ion-card-content>
            <ion-card-title>
                Центр военно-тактических игр
            </ion-card-title>
            <p *ngIf="lang=='ru'">
                Центр военно-тактических игр - это универсальный учебно-тренировочный комплекс площадью более 27 га для
                отработки элементов боевой подготовки подразделений Вооружённых Сил. Также Центр служит и площадкой для
                проведения спортивных мероприятий, тренировок и соревнований по страйкболу, фаертагу и лазертагу. Новый
                объект
                Парка можно разделить на три зоны: крытую, лесную и спортивную.
            </p>
            <p *ngIf="lang=='ru'">
                The center of military tactical games is a universal training and training complex with an area of more
                than 27 hectares for
                         The development of elements of combat training for the units of the Armed Forces. The Center
                also serves as a platform for
                         Holding sports events, training and competitions in airsoft, e-sports and laser tag. New object
                         The park can be divided into three zones: indoor, forest and sports.
            </p>
        </ion-card-content>

        <ion-row no-padding>
            <ion-col>
                <button ion-button clear small color="danger" icon-left (click)="showLeafLetPlaceOnMap('Центр военно-тактических игр', 'showmarker')">
                    <ion-icon name='map'></ion-icon>
                    На карте
                </button>
            </ion-col>
            <ion-col>
                <button ion-button clear small color="danger" icon-left>
                    <ion-icon name='star'></ion-icon>
                    Мой форум
                </button>
            </ion-col>

            <ion-col text-right>
                <button ion-button clear small color="danger" icon-left>
                    <ion-icon name='bus'></ion-icon>
                    Показать маршрут
                </button>
            </ion-col>
        </ion-row>

    </ion-card>


</ion-content>
