page-conference-help {
  button {
    width: 10%;
  }

  @media (max-height: 960px) {
    ion-scroll {
      height:500px;
      width:100%;

    }
  }

  @media (min-height: 961px) {
    ion-scroll {
      height:700px;
      width:100%;

    }
  }
}
